@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@100,400&display=swap');
* {
  	font-family: "Inconsolata", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
  		"wdth" 100;
	margin: 0;
}
article {
	padding: 30px;
	font-size: 25px;
}
article h1 {
	font-size: 40px;
	text-align: center;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #FFFFFF;
 	background-color: #06D001;
 	padding: 20px;
}
header a {
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: px;
	border-radius: 4px;
	color: #FFF;
}
header a:hover {
 	background-color: #a8ff00;
}
header a.active {
 	background-color: #10f70a;
}
#header-right {
 	float: right;
}
#level-name {
	font-size: 50px;
	display: inline;
	padding: 40px;
}
